#titulo {
    position: relative;
    top: 90px;
    text-align: center;
    color: rgb(212, 138, 0);
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#contenido {
    background-color: white;
    position: relative;
    height: 100%;
    width: 98.5%;
    border-radius: 15px;
    overflow: auto;
    box-sizing: border-box; 
    padding: 1em;
}

#espacio {
    background-color: white;
    position: relative;
    top: 90px;
    left: 15%;
    height: 65%;
    width: 70%;
    border-radius: 15px;
    box-shadow: 3px 0px 10px 1px orange;
    border: orange;
}

.receta {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: auto;
    width: 65%;
    padding-bottom: 1em;
    margin-left: 17.5%;
    justify-content: center;
}

#contenido h1 {
    margin-top: 10px;
    text-align: center;
}

.receta img {
    margin-left: 25%;
    width: 50%;
    border-radius: 10px;
}

.receta a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 0.5em;
    margin-top: 1em;
    margin-left: 13%;
    width: 70%;
}

.receta a:hover {
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: rgba(232, 225, 203, 0.491);
    border-radius: 15px;
}

#botones {
    text-align: center;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    width: 45%;
    margin: 1em 1em 1em 0;
}

button:hover {
    padding: 8px 18px;
}

#contenido::-webkit-scrollbar {
    width: 10px; 
    background-color: white;
}

#contenido::-webkit-scrollbar-thumb {
    background-color: rgb(247, 222, 177); 
    border-radius: 5px; 
}

hr{
    border: solid 1px  rgb(247, 222, 177);
}

.filter{
    display: inline;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px; 
    height: 20px;
    border-radius: 5px; 
    border: 1px solid orange; 
    vertical-align: middle;
    position: relative;
}

input[type="checkbox"]::after {
    content: '\2714'; 
    font-size: 16px; 
    color: white;
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; 
}

input[type="checkbox"]:checked {
    background-color: orange; 
}

input[type="checkbox"]:checked::after {
    display: block;
}