<app-cabecera></app-cabecera>
<div id="titulo">
    <h1>Recommended recipes</h1>
</div>
<div id="espacio">
    <div id="contenido">
        <div class="receta">
            <a href="">Hamburguesa con queso </a>
            <img src="https://d31npzejelj8v1.cloudfront.net/media/recipemanager/recipe/1687290737_ham-queso-y-tocino.jpg" alt="Hamburguesa con queso y lechuga">
            <div id="botones">
                <button  class="button">Añadir a favoritos </button>
                <button  class="button">Marcar como realizada</button>
            </div>
        </div>
        <hr>
        <div class="receta">
            <a href="">Paella</a>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwYWOyd0ZQ1hzwWGPr_NQ_GSOz2hGMZvyZfw&s" alt="Hamburguesa con queso y lechuga">
            <div id="botones">
                <button  class="button">Añadir a favoritos </button>
                <button  class="button">Marcar como realizada</button>
            </div>
        </div>
</div>
</div>
