#contenido {
  background-color: white;
  position: relative;
  height: 100%;
  width: 98.5%;
  border-radius: 15px;
  overflow-y:auto;
  padding: 1em;
  box-sizing: border-box;
}

#espacio {
  background-color: white;
  position: relative;
  top: 90px;
  left: 25%;
  height: 80%;
  width: 50%;
  border-radius: 15px;
  box-shadow: 3px 0px 10px 1px orange;
  border: orange;
}

.receta {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: auto;
  width: 100%;
  padding-bottom: 1em;
  justify-content: center;
}

.receta img {
  margin-left: 0;
  width: 50%;
  border-radius: 10px;
  margin-left: 27%;
}

.receta a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 0.5em;
  margin: 1em;
  margin-left: 15%;
  width: 70%;
}


.receta a:hover {
  cursor: pointer;
  color: rgb(0, 0, 0);
  background-color: rgba(232, 225, 203, 0.491);
  border-radius: 15px;
}

#contenido::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}

#contenido::-webkit-scrollbar-thumb {
  background-color: rgb(247, 222, 177);
  border-radius: 5px;
}

hr{
  border: solid 1px  rgb(247, 222, 177);
}
