<app-cabecera></app-cabecera>
<div id="contenedorBusqueda">
    <div id="filtros">
        <h1>Filters</h1>
        <label for="name">Recipe name</label><br>
        <input type="text" id="name" name="name"><br>

        <label for="type">Type</label><br>
        <select id="type" name="type">
        </select><br>

        <label for="maxCalories">Maximum calories</label><br>
        <input type="number" name="maxCalories" id="maxCalories"><br>

        <label for="minCalories">Minimum calories</label><br>
        <input type="number" id="minCalories" name="minCalories"><br>

        <label for="ingredients">Ingredients</label><br>
        <textarea name="ingredients" id="ingredients"></textarea><br>
        <button (click)="onSumbit()" class="button">Search</button>
        <!-- <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page" id="buscar" class="button">Buscar</a> -->
    </div>
    <div id="resultados">
        <div class="receta">
            <a href="">Comida</a><br>
            <img src="https://img.freepik.com/foto-gratis/cerca-deliciosa-comida-espanola_23-2149210893.jpg">
            <div id="botones">
                <button  class="button" >Add to favorites</button>
                <button  class="button">Add to history</button>
            </div>
            <hr>
        </div>
        <div class="receta">
            <a href="">Comida</a><br>
            <img src="https://media.ambito.com/p/ddeb5fdba575c76821846791e52d95d0/adjuntos/239/imagenes/039/884/0039884582/hamburguesajpg.jpg">
            <div id="botones">
                <button  class="button" >Add to favorites</button>
                <button  class="button">Add to history</button>
            </div>
            <hr>
        </div>
        <div class="receta">
            <a href="">Comida</a><br>
            <img src="https://st2.depositphotos.com/1328914/8685/i/450/depositphotos_86857546-stock-photo-mexican-steak-and-chicken-fajitas.jpg">
            <div id="botones">
                <button  class="button" >Add to favorites</button>
                <button  class="button">Add to history</button>
            </div>
            <hr>
        </div>
    </div>
</div>
