<div id="cabecera">
    <div id="dock">
        <div title="Home" class="opciones">
            <a routerLink="/inicio" routerLinkActive="active" aria-current="page">
                <img src="./assets/inicio.png" alt="Home">
            </a>
        </div>

        <div title="Search" class="opciones">
            <a routerLink="/buscador" routerLinkActive="active" ariaCurrentWhenActive="page">
                <img src="./assets/busqueda.png" alt="Search">
            </a>
        </div>

        <div title="New Recipes" class="opciones">
            <a href="">
                <img src="./assets/nueva-receta.png" alt="New Recipes">
            </a>
        </div>

        <div title="Historial" class="opciones">
            <a routerLink="/historial" routerLinkActive="active" ariaCurrentWhenActive="page">
                <img src="./assets/historial.png" alt="Historial">
            </a>
        </div>

        <div title="Profile">
            <a routerLink="/perfil" routerLinkActive="active" ariaCurrentWhenActive="page">
                <img src="./assets/icono.png">
            </a>
        </div>
    </div>
    <div id="espacio-blanco"></div>
</div>
<router-outlet></router-outlet>