html{
    height: 100%;
    background-color: orange;
}
#cabecera {
    display: flex;
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
    box-sizing: border-box;
    padding: 5px;
    height: 70px;
    justify-content: center;
}

#dock {
    background-color: white;
    border-radius: 20px;
    display: flex;
    width: 55%;
    box-shadow: 3px 0px 10px 1px orange;
    padding: 10px;
    border: orange;
}

#dock > div {
    margin: auto;
    text-align: center;
    display: inline;
    width: 20%;
    box-sizing: border-box;
}

#dock > div > a {
    display: block;
}

#dock > div:hover {
    cursor: pointer;
    background-color: rgb(255, 235, 197);
    border-radius: 15px;
}

#dock > div img {
    width: 30px;
    height: 30px;
    margin: 5px 40px auto 40px;
}