<div class="outer-container">
  <div class="container">
      <div class="text-content">
          <h1>Welcome to InstantRecipes!</h1>


          <p>
            InstantRecipes is your new ally in the kitchen, offering you a personalized culinary experience.
          </p>
          <p>
            You'll have access to a wide variety of recipes that adapt to your allergies, tastes, and dietary preferences.
            Additionally, it allows you to filter recipes according to your interests, save your favorites, mark them as done, and comment on them.
          </p>

          <p>
            Join the InstantRecipes community and take your cooking to the next level!
          </p>

          <div class="button-container">
              <a routerLink="/login" routerLinkActive="active"  class="button">Log in</a>

              <span class="small-text">Don't have an account?</span>
              <a class="link" routerLink="/registro" routerLinkActive="active">Sign up</a>
          </div>
      </div>
      <div class="image-content">
          <img src="https://d1ralsognjng37.cloudfront.net/367f542c-7ad5-4099-bd50-5e638a9c1879.jpeg" alt="Deliciosa comida">
      </div>
  </div>
</div>
