<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>InstantRecipes - Bienvenido</title>
</head>
<body>
  <div class="container">
      <div class="text-content">
          <h1>Bienvenido a InstantRecipes</h1>

          <p>
            InstantRecipes es tu nuevo aliado en la cocina, ofreciéndote una experiencia culinaria personalizada.
          </p>
          <p>
            Podrás acceder a una amplia variedad de recetas que se adaptan a tus alergias, gustos y preferencias dietéticas.
            Además te permite filtrarlas recetas según tus intereses, guardar tus favoritas, marcarlas como hechas y comentar sobre ellas.
          </p>
          <p>
            En tu perfil, puedes ver y actualizar tus datos, así como subir tus propias recetas, ver tus recetas hechas en tu historial y consultar tu lista de favoritas.
          </p>
          <p>
            ¡Únete a la comunidad de InstantRecipes y lleva tu cocina al siguiente nivel!
          </p>

          <div class="button-container">
              <a (click)="navigateToLogin()"  id = "inicioSesion" class="button">Inicia Sesión</a>
              <a (click)="navigateToRegister()"  id = "registro" class="button button-secondary">Regístrate</a>
              <span class="small-text">¿No tienes cuenta?</span>
          </div>
      </div>
      <div class="image-content">
          <img src="https://d1ralsognjng37.cloudfront.net/367f542c-7ad5-4099-bd50-5e638a9c1879.jpeg" alt="Deliciosa comida">
      </div>
  </div>
</body>
