<div class="outer-container">
  <div class="container">
      <div class="text-content">
          <h1>Bienvenido a InstantRecipes</h1>

          <p>
            InstantRecipes es tu nuevo aliado en la cocina, ofreciéndote una experiencia culinaria personalizada.
          </p>
          <p>
            Podrás acceder a una amplia variedad de recetas que se adaptan a tus alergias, gustos y preferencias dietéticas.
            Además te permite filtrarlas recetas según tus intereses, guardar tus favoritas, marcarlas como hechas y comentar sobre ellas.
          </p>

          <p>
            ¡Únete a la comunidad de InstantRecipes y lleva tu cocina al siguiente nivel!
          </p>

          <div class="button-container">
              <a routerLink="/login" routerLinkActive="active"  class="button">Inicia Sesión</a>

              <span class="small-text">¿No tienes cuenta? </span>
              <a class="link" routerLink="/registro" routerLinkActive="active"> ¡Regístrate!</a>

          </div>
      </div>
      <div class="image-content">
          <img src="https://d1ralsognjng37.cloudfront.net/367f542c-7ad5-4099-bd50-5e638a9c1879.jpeg" alt="Deliciosa comida">
      </div>
  </div>
</div>
